* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0d0f12;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background: white;
  width: 100%;
  max-width: 700px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.1);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 14px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.output-container {
  margin-top: 25px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#output {
  width: 600px;
  height: 500px;
  resize: none;
}